In [2]:
import pandas as pd

# numeric values
pd.DataFrame({'Yes': [50,21], 'No':[131,2]})

   Yes   No
0   50  131
1   21    2

In [3]:
# string values
pd.DataFrame({'Bob': ['I like it.', 'It was awful.'], 'Sue':['Pretty good.', 'Bland.']})

             Bob           Sue
0     I like it.  Pretty good.
1  It was awful.        Bland.

In [4]:
# Defining Row Names using the 'index' parameter

pd.DataFrame({'Bob': ['I like it.', 'It was awful.'],
              'Sue':['Pretty good.', 'Bland.']},
            index=['Product A', 'Product b'])

                     Bob           Sue
Product A     I like it.  Pretty good.
Product b  It was awful.        Bland.

In [ ]:
# DataFrame are Dictionaries (objects) with values as lists of entries
# keys are 'column' names (i.e., Bob, Sue)

In [5]:
# A Series is distinct from  List

pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
# create a list
list_var = ['a', 'b', 'c', 'd']
print(list_var)

# create a series
series_var = pd.Series(list_var, index=[2,1,3,0])
print(series_var)

# test distinction between list vs series
print('element at 0th index in series:', series_var[0])
print('element at 0th index in list:', list_var[0])

['a', 'b', 'c', 'd']
2    a
1    b
3    c
0    d
dtype: object
element at 0th index in series: d
element at 0th index in list: a

In [ ]:
# A Series is actually a single column of a DataFrame
# helpful to think of DataFrame as being a bunch of Series glued together

In [10]:
pd.Series([30,35,40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [5]:
fruits = pd.DataFrame({'Apples': [30], 
                       'Bananas': [21]},
                        index=[0])
fruits

   Apples  Bananas
0      30       21

In [16]:
# Alternative way

fruits_1 = pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])
fruits_1

   Apples  Bananas
0      30       21

In [7]:
# Reading Data Files (parallels with R)
# NOTE import pandas as pd


# Pandas' function similar to read_csv() from tidyverse package
# pd.read_csv()   

# similar to dim()
fruits.shape

# head() in R provides first 6 rows
fruits.head()

   Apples  Bananas
0      30       21

In [8]:
# EXERCISE: Creating, Reading and Writing

fruit_sales = pd.DataFrame({'Apples': [35,41],
                            'Bananas': [21,34]},
                            index=['2017 Sales', '2018 Sales'])

fruit_sales

            Apples  Bananas
2017 Sales      35       41
2018 Sales      41       34

In [9]:
# Alternative way to create a DataFrame

fruit_sales = pd.DataFrame([[35,41], [21,34]],
                          columns=['Apples', 'Bananas'],
                          index=['2017 Sales', '2018 Sales'])

fruit_sales

            Apples  Bananas
2017 Sales      35       41
2018 Sales      21       34

In [10]:
# A Series is NOT a DataFrame

ingredients = pd.Series({'Flour': '4 cups', 
                         'Milk': '1 cup',
                         'Eggs': '2 large',
                         'Spam': '1 can'}, 
                       name='Dinner')

ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [12]:
# I guess more 'idiomatic' way to write the series

quantities = ['4 cups', '1 cup', '2 large', '1 can']
items = ['Flour', 'Milk', 'Eggs', 'Spam']
recipe = pd.Series(quantities, index=items, name='Dinner')

recipe

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [ ]:
# Writing to CSV

fruit_sales.to_csv("fruit_sales.csv")