In [17]:
# looping over a list
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

for planet in planets:
    print(planet, end=' ')

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [ ]:
# looping over a tuple

multiplicands = (2,2,2,3,3,5)
product = 1

for mult in multiplicands:
    product = product * mult
product

In [ ]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''

# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end='')

In [ ]:
# using range() function to return a sequence of numbers

for i in range(5):
    print("Doing important work. i =", i)

In [ ]:
# While loops to iterate 

i = 0
while i < 10:
    # this allows output to be on the same line
    print(i, end=' ')
    i += 1

In [ ]:
# LIST COMPREHENSIONS

squares = [n**2 for n in range(10)]
squares
print(squares)

In [13]:
# Without list comprehensions

squares = []
for n in range(10):
    squares.append(n**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
# ADD If conditional to List Comprehension

short_planets = [planet for planet in planets if len(planet) < 6]

type(short_planets)

list

In [22]:
# filtering with IF condition applying transformation to the loop variable
# str.upper() returns all-caps version of string

loud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 6]

print(loud_short_planets)

type(loud_short_planets)

['VENUS!', 'EARTH!', 'MARS!']

list

In [23]:
# clearer syntax
# analogous to SQL - SELECT, FROM, WHERE

[
    planet.upper() + '!'
    for planet in planets
    if len(planet) < 6
]

['VENUS!', 'EARTH!', 'MARS!']

In [40]:
# Without List Comprehension - longer loops are required
# unsure why this doesn't work

neg_nums = [5, -1, -2, 0 , 3]


def count_negatives(nums):
    n_negative = 0
    for num in nums:
        if num < 0:
            n_negative = n_negative + 1
        return n_negative
    
count_negatives(neg_nums)

0

In [41]:
def count_negatives(nums):
    return len([num for num in nums if num < 0])

In [ ]:
def count_negatives(nums):
    # Reminder: in the "booleans and conditionals" exercises, we learned about a quirk of 
    # Python where it calculates something like True + True + False + True to be equal to 3.
    return sum([num < 0 for num in nums])